<f:layout name="DoubleColumn" />

<f:section name="Menu">
    <a href="index.php">
        <button>Hotel Seite</button>
    </a>
    <a href="about.php">
        <button>Über uns</button>
    </a>
</f:section>

<f:section name="Left">
    <h2>Meet the team</h2>
    <p>💻 Raven Burkard</p>
    <p>🪴 Sophie Nemecek</p>
    <p>⚽ Lisa-Marie Hörmann</p>
</f:section>

<f:section name="Right">
    <img src="../src/duck.jpg" alt="Duck">
</f:section>

<f:section name="Footer">
    <a href="https://github.com/duckling-designs/webt-adv-twig-templating-engine">Github </a>| 2024 Duckling Designs
</f:section>
